<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row" style="background: #eeeeee; border-radius: 4px; justify-content: space-evenly;">
		<!-- <div class="col-sm-8">
		    <h5>About</h5>	
            <p>{{ site.affiliation }}</p>
		</div> -->

		<div style="margin-top: 8px;">
		    <h5>Follow Us</h5>	
            <p>{{ site.contact }}</p>
		</div>

		<div style="margin-top: 8px;">
			<h5>Address</h5>	
            <p>{{ site.location }}</p>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
